{%extends "django_registration/base.html"%} {% load django_bootstrap5 %}
<!-- content block  -->
{%block content %}
<div
  class="registration w-50 mx-auto text-center"
  style="padding: 100px; font-family: 'Montserrat', sans-serif"
>
  <img
    src="https://image.freepik.com/free-photo/wooden-sign-with-symbol-shown_1160-823.jpg"
    alt="ok"
  />
  <h2>Registration Successful!</h2>
  <a href="{% url 'login' %}"
    ><input type="submit" class="btn btn-primary btn-sm" value="Login"
  /></a>
</div>
{% endblock %}
